<div class="comment">
  <app-comment-el [comment]="comment"></app-comment-el>

  <div class="comment-replies">
    <div class="reply" *ngFor="let reply of comment.replies">
      <app-comment-el [comment]="reply"></app-comment-el>
    </div>
  </div>

  <div *ngIf="isAuth" class="reply-option">
    <div class="reply-option__btns">
      <button 
        class="btn-default narrow-btn"
        *ngIf="currentCommentId !== comment.id" 
        (click)="onReply(comment.id!)">
        Reply
      </button>
      <button
        class="btn-default narrow-btn"
        *ngIf="currentCommentId == comment.id" 
        (click)="closeReply()">
        Close
      </button>
    </div>

    <div class="reply-option__form" *ngIf="currentCommentId == comment.id">
      <app-comment-form></app-comment-form>
    </div>
  </div>
</div>