@import '/src//assets/styles/mixins/media';
@import '/src/assets/styles/variables/colors';

.comment {
  border: 1px solid var(--color9);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: var(--color12);
}

.comment-replies {
  margin-top: 20px;
  width: 90%;
  margin-left: 8%;
  .reply {
    border: 1px solid var(--color9);
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.reply-option{
  margin: 2%;
  &__btns {
    margin-bottom: 2%;
  }
}