<p>header works!</p>
<ul>
  <li [routerLink]="['/home']" routerLinkActive="router-link-active">
    Home
  </li>
  <li [routerLink]="['/products']" routerLinkActive="router-link-active">
    Products
  </li>
  <li [routerLink]="['/market']" routerLinkActive="router-link-active">
    Market
  </li>
  <li [routerLink]="['/comments']" routerLinkActive="router-link-active">
    Comments
  </li>
  <li [routerLink]="['/signin']" routerLinkActive="router-link-active">
    Signin
  </li>
  <li [routerLink]="['/signup']" routerLinkActive="router-link-active">
    Signup
  </li>
  <li (click)="onLogout()">
    Logout
  </li>
</ul>