<p>header works!</p>
<ul>
  <li [routerLink]="['/home']" routerLinkActive="nav-active">
    Home
  </li>
  <li *ngIf="isAuth" [routerLink]="['/products']" routerLinkActive="nav-active">
    Products
  </li>
  <li *ngIf="isAuth" [routerLink]="['/market']" routerLinkActive="nav-active">
    Market
  </li>
  <li [routerLink]="['/comments']" routerLinkActive="nav-active">
    Comments
  </li>
  <li *ngIf="!isAuth" [routerLink]="['/signin']" routerLinkActive="nav-active">
    Signin
  </li>
  <li *ngIf="!isAuth" [routerLink]="['/signup']" routerLinkActive="nav-active">
    Signup
  </li>
  <li (click)="onLogout()">
    Logout
  </li>
</ul>