<div class="nav-outer-container">
  <div class="nav-container">
    <button class="nav-container__hamburger"
      (click)="onSwithcNavigationMenuState()"
      [disabled]="navParams.disableButton"
      [ngClass]="{'nav-container__hamburger-active' : navParams.navigationMenuState == 'in'}">
      <div></div>
      <div></div>
      <div></div>
    </button>
    
    <ul class="nav-container__nav"
      [@slideRightLeft]="navParams.windowWidth >= 767 ? 'none' : navParams.navigationMenuState"
      (@slideRightLeft.start)="onDisableButton()"
      (@slideRightLeft.done)="onEnableButton()">

      <li (click)="onSwithcNavigationMenuState()"
        [ngClass]="{'disabled-pointer-events' : navParams.disableButton}" 
        [routerLink]="['/home']" 
        routerLinkActive="nav-active">
        Home
      </li>
      <li (click)="onSwithcNavigationMenuState()"
        [ngClass]="{'disabled-pointer-events' : navParams.disableButton}"
        [routerLink]="['/products']" 
        routerLinkActive="nav-active" 
        *ngIf="isAuth">
        Products
      </li>
      <li (click)="onSwithcNavigationMenuState()"
        [ngClass]="{'disabled-pointer-events' : navParams.disableButton}"
        [routerLink]="['/market']" 
        routerLinkActive="nav-active" 
        *ngIf="isAuth">
        Market
      </li>
      <li (click)="onSwithcNavigationMenuState()"
        [ngClass]="{'disabled-pointer-events' : navParams.disableButton}"
        [routerLink]="['/comments']" 
        routerLinkActive="nav-active">
        Comments
      </li>
    </ul>

    <div class="nav-container__sign-btns">
      <button class="btn-default narrow-btn"
        [routerLink]="['/signin']" 
        routerLinkActive="nav-active-btn" 
        *ngIf="!isAuth">
        Sign in
      </button>
      <button class="btn-default narrow-btn"
        [routerLink]="['/signup']" 
        routerLinkActive="nav-active-btn"
        *ngIf="!isAuth">
        Sign up
      </button>
    </div>

    <div *ngIf="isAuth && user">
      <app-user-info [user]="user"></app-user-info>
    </div>      
  </div>
</div>
<div 
  (click)="onOverlayClick()" 
  class="nav-overlay"
  [ngClass]="{'overlay-active' : navParams.isOverlayShown, 
  'disabled-pointer-events' : navParams.disableButton}">
</div>