<div class="login-history">
  <button class="login-history__close-btn btn-default" (click)="onHideLoginHistory()"></button>

  <p class="login-history__title">Last 10 logins:</p>
  <table class="login-history__table">
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th>IP Address</th>
    </tr>
    <tr *ngFor="let element of loginHistory">
      <td>
        <p>{{ element.country }}</p>
        <p>({{ element.city }})</p>
      </td>
      <td>
        <p>{{ element.date!.toDate() | date:'dd.MM.yyyy' }}</p>
        <p>at {{ element.date!.toDate() | date:'HH:mm' }}</p>
      </td>
      <td>
        {{ element.ip }}
      </td>
    </tr>
  </table>
</div>