.login-history {
  &__close-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    background-image: url("../../../../../assets/images/user-info/decline.png");
    background-color: transparent;
    background-size: cover;
  }
  &__title {
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }
  &__table {
    width: 100%;
    tr {
      text-align: center;
      td {
        padding: 5px 0;
      }
    }
  }
}