<form [formGroup]="commnetForm" (ngSubmit)="onSubmitComment(commnetForm)">
  <div>
    <textarea class="comments-textarea" placeholder="Type your comment..."
      formControlName="commentArea"></textarea>
  </div>

  <div>
    <button 
      class="btn-default btn-default-center" 
      type="submit" 
      [disabled]="!commnetForm.valid">
      Add your comment
    </button>
      <p class="error-msg" *ngIf="errorOnAddComment">{{ errorOnAddComment }}</p>
      <p class="error-msg" *ngIf="errorOnAddReply">{{ errorOnAddReply }}</p>
  </div>
</form>