<div class="container">
  <div class="comments-container">
    <app-loading-spinner *ngIf="!comments"></app-loading-spinner>
    
    <p class="comments">
      Comments ({{ comments?.length }})
    </p>

    <div *ngIf="comments">
      <app-comment 
        *ngFor="let comment of comments" 
        [comment]="comment"
        [isAuth]="isAuth">
      </app-comment>
    </div>

    <p *ngIf="comments?.length == 0" class="error-msg">
      There are no comments added yet!
    </p>

    <hr class="hr-border">

    <div *ngIf="!currentCommentId && isAuth">
      <app-comment-form></app-comment-form>
    </div>
    <p class="comments-auth" *ngIf="!isAuth">Please Sign in to add your comment!</p>
  </div>

  <app-comment-user-info 
    *ngIf="commentParams.showUserInfo"
    [shownUser]="commentParams.shownUser">
  </app-comment-user-info>
</div>