@import '/src/assets/styles/variables/colors';

.comments-container {
  position: relative;
  background-color: var(--color2);
  box-shadow: 0px 0px 10px 1px rgba($black, 0.75);
  padding: 5%;
  .comments {
    color: $red;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.3em;
  }
}

.hr-border {
  border-top: 1px solid var(--color9);
  border-bottom: 1px solid var(--color5);
  margin: 20px 0;
}